#posts {
    color: white;
    font-size: 3em;
    padding: 2rem;

    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 1rem;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
}

.post {

    display: grid;
    grid-template-rows: auto auto;
    background-color: #3b3b3b;
    border-radius: 10px;
    margin: 1rem;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
}

.post h1 {
    font-size: .75em;
    padding: 2rem;
}

.post p {
    font-size: .5em;
    padding: 2rem;
}
