#posts {
    color: white;
    font-size: 3em;
    padding: .5em;
    margin: 1em;
    background-color: #1f1f1f;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
    display: grid;

    gap: .1em;
}

#posts h1 {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: 600;
    padding: .5em;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
}

#posts div {

    background-color: #3b3b3b;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
    padding: .5em;
    display: grid;
    grid-template-columns: auto auto
}

#posts div a {
    padding: .5em;
    margin: .5em;
    font-size: .75em;
    background-color: #1f1f1f;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
}

#posts h3 {

    font-size: .75em;
}


.post {

    display: grid;
    grid-template-rows: auto auto;
    margin: 1em;
    background-color: #1f1f1f;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
    font-size: 3em;
}

.post h1 {
    background-color: #3b3b3b;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
    font-size: .5em;
    padding: 1em;
    margin: 1em;
}

.postimg {
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
    height: 20em;
    width: auto;
    margin: auto;
}



.post-content {
    background-color: #3b3b3b;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 3px rgb(0 0 0 / 0.6));
    font-size: .5em;
    padding: 2.5em;
    margin: 1em;
}

.post-content p {
    padding: 3em;
    padding-left: 4em;
    padding-right: 4em;
}

.cad-post {
    display: grid;
    grid-template-rows: auto auto;
    margin: 1em;
    text-align: center;
}


@media only screen and (max-width: 1350px) {}

@media only screen and (max-width: 1025px) {}

@media only screen and (max-width: 720px) {


    #posts div {

        grid-template-columns: auto
    }

    .post-content p {

        padding: 1em;
    }

    .postimg {
        border-radius: 10px;
        height: 5em;
        width: auto;
    }
}

@media only screen and (max-width: 520px) {}
